<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="css/vendor.css">
        <link rel="stylesheet" href="css/app.css">
        <title>Página para envío másivo de datos</title>
    </head>
    <body>
        <div class="container">
            <div class="" id="app">
                <div class="row">
                    <div class="col-sm">
                        <h3>Formulario</h3>
                        <form class="" action="index.html" method="post" @change="submitingError = null">

                            <div class="form-group">
                                <label for="file-upload">Archivo CSV</label>
                                <input
                                    id="file-upload"
                                    type="file"
                                    name="file"
                                    class="form-control"
                                    aria-describedby="fileuploadHelp"
                                    @change="uploadFile($event)">
                                <small id="fileuploadHelp" class="form-text text-muted">Subir archivo con formato CSV con los teléfonos móviles</small>
                            </div>

                            <div class="form-group">
                                <label for="phone_text">Texto para teléfonos</label>
                                <textarea id="texto" v-model="phone_text" class="form-control" placeholder="Pegue aquí los números de teléfono, un número por cada línea">
                                </textarea>
                            </div>

                            <div class="form-group">
                                <label for="texto">Texto de mensaje</label>
                                <textarea id="texto" v-model="text" class="form-control" placeholder="Digite texto para enviar como texto de Whatsapp">
                                </textarea>
                            </div>

                            <div class="form-group" v-if="parsed_text">
                                <label for="texto">Texto de mensaje</label>
                                <blockquote class="blockquote">
                                    {{ parsed_text }}
                                </blockquote>
                            </div>

                            <div class="form-group">
                                <label for="texto">Prefijo</label>
                                <input type="text" v-model="prefix">
                            </div>

                            <div class="form-group text-danger" v-if="submitingError"> {{ submitingError }} </div>

                        </form>
                    </div>

                    <div class="col-sm">
                        <div class="row">
                            <div class="col-sm">
                                <h3>Listado teléfonos</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm" >
                                <div v-if="phone_list && text" v-for="(phone, index) in phone_list">
                                    <whatsapp-link :texto="text" :telefono="prefix + phone[0]" :id="index"></whatsapp-link>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>


            </div>

        </div>

    </body>
    <script src="./js/manifest.js"></script>
    <script src="./js/vendor.js"></script>
    <script src="./js/app.js"></script>
</html>
