<template lang="html">
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Nombre de la variable</span>
            </div>
            <input type="text" class="form-control" v-model="variable.name">
            <div class="input-group-append">
                <button
                    class="btn btn-outline-secondary"
                    type="button"
                    :id="id"
                    @click="$emit('remove')"
                    >
                    Remover
                </button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['variable','id']
}
</script>

<style lang="css">
</style>
