<template lang="html">
    <div class="input-group mb-3">
        <input
            type="text"
            name="whatsapp-mobile"
            v-model="telefono"
            aria-label="Recipient's username"
            :aria-describedby="id"
        />
        <div class="input-group-append">
            <button
                class="btn btn-outline-secondary"
                type="button"
                name="button"
                :id='id'
                @click="clicked()" >
                {{ buttonText }}
            </button>

        </div>
    </div>

</template>

<script>
export default {
    props: ['id','texto','telefono'],
    data(){
        return {
            isClicked: false
        }
    },
    computed: {
        whatsapplink(){
            return this.createWhatsappLink();
        },
        buttonText(){
            return (this.isClicked) ? 'Enviado' : 'Enviar';
        }
    },
    methods: {
        clicked(){
            this.isClicked=true;
            let whatswindow = window.open(this.createWhatsappLink(), '_blank');
            whatswindow.blur();
            window.focus();
        },
        createWhatsappLink(){
            let params = {
                'l': 'es',
                'phone': this.telefono,
                'text': this.texto
            };

            let query = querystring.stringify(params);

            return "https://api.whatsapp.com/send?" + query;
        }
    }
}
</script>

<style lang="css">
</style>
